/* Carrusel index */
.carousel-item img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.carousel-caption {
    position: absolute;
    top: 10px;
    right: 10px;
    left: 800px;
    text-align: right;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    border-radius: 5px;
}

/* Título en el carrusel */
.carousel-caption h2 {
    padding-top: 30px;
    font-size: 2rem;
    font-weight: bold;
}

/* Texto en el carrusel */
.carousel-caption p {
    font-size: 1rem;
    text-align: center;
    font-weight: normal;
    padding-top: 30px;
}

/* Carrusel index2 */
#carousel2 .carousel-item img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

#carousel2 .carousel-caption {
    position: absolute;
    top: 10px;
    right: 10px;
    left: 10px;
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    border-radius: 5px;
}

/* Título en el carrusel2 */
#carousel2 .carousel-caption h5 {
    font-size: 1.8rem;
    font-weight: bold;
}

/* Texto en el carrusel2 */
#carousel2 .carousel-caption p {
    font-size: 1.1rem;
    font-weight: normal;
    padding-left: 200px;
    padding-right: 200px;
}

/* Amenazas */
.prevention-info {
    margin-top: 10px;
    padding: 10px;
    margin-left: 390px;
    margin-right: 390px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    border-radius: 5px;
}

.prevention-info ul {
    margin-left: 20px;
    text-align: left;
}

.prevention-info li {
    margin-bottom: 5px;
}

/* Estilo de los botones */
button.btn-info {
    margin-top: 10px;
}

/* Carrusel index3 */
#carousel3 .carousel-item img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

#carousel3 .carousel-caption {
    position: absolute;
    top: 10px;
    right: 10px;
    left: 10px;
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    border-radius: 5px;
    padding-top: 40px;
}

/* Título en el carrusel3 */
#carousel3 .carousel-caption h5 {
    font-size: 1.8rem;
    font-weight: bold;
}

/* Texto en el carrusel3 */
#carousel3 .carousel-caption p {
    font-size: 1.1rem;
    font-weight: normal;
    padding-left: 200px;
    padding-right: 200px;
}
